<a href="https://colab.research.google.com/github/Sylvesterg95/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Replace the less frequent application types with 'Other'
threshold = 10  # Set the threshold for what counts as "Other"
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(
    lambda x: x if application_type_counts[x] >= threshold else 'Other'
)

# Verify the replacement
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [5]:
# Choose a cutoff value (e.g., replacing application types with fewer than 10 occurrences)
cutoff = 10
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Replace the identified application types with 'Other'
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure the replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
T12         27
T2          16
Other       11
Name: count, dtype: int64

In [6]:
# Check value counts for 'CLASSIFICATION'
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Set a cutoff value for replacement (e.g., replacing values with fewer than 10 occurrences)
cutoff = 10

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace the identified classifications with 'Other'
for classification in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classification, "Other")

# Check to make sure the replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [7]:
# Check value counts for 'CLASSIFICATION' and filter values greater than 1
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter for classifications with more than 1 occurrence
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Display the filtered value counts
classification_counts_greater_than_1

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [8]:
# Choose a cutoff value (e.g., replacing classifications with fewer than 10 occurrences)
cutoff = 10
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced (those with fewer than the cutoff occurrences)
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace the identified classifications with 'Other'
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check to make sure the replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Other       98
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
Name: count, dtype: int64

In [9]:
# Convert categorical columns to numeric using pd.get_dummies
application_df = pd.get_dummies(application_df, drop_first=True)

# Display the updated DataFrame
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,False,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,False,False,False,True,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,False,False,False,True,False,...,True,False,False,True,False,False,False,False,False,False

In [13]:
# Define the target variable (y) and features (X)
y = application_df['IS_SUCCESSFUL']  # Adjust if the target column is named differently
X = application_df.drop(columns=['IS_SUCCESSFUL'])  # Drop the target column to get features

# Display the shapes of X and y to confirm
print(X.shape, y.shape)

# Split the data into training and testing sets (80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Display the shapes of the training and testing sets to confirm
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(34299, 64) (34299,)
(27439, 64) (6860, 64) (27439,) (6860,)

In [14]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler on the training data
X_scaler = scaler.fit(X_train)

# Scale the training data
X_train_scaled = X_scaler.transform(X_train)

# Scale the testing data
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [15]:
import tensorflow as tf

# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer - input layer with input_dim equal to the number of features
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer - single node for binary classification with sigmoid activation
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 128)                            8,320

 dense_1 (Dense)                       (None, 64)                             8,256

 dense_2 (Dense)                       (None, 1)                                 65

 Total params: 16,641 (65.00 KB)

 Trainable params: 16,641 (65.00 KB)

 Non-trainable params: 0 (0.00 B)

In [16]:
# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [17]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_split=0.2)

Epoch 1/100
686/686  4s 3ms/step - accuracy: 0.7053 - loss: 0.5871 - val_accuracy: 0.7309 - val_loss: 0.5597
Epoch 2/100
686/686  3s 4ms/step - accuracy: 0.7275 - loss: 0.5569 - val_accuracy: 0.7338 - val_loss: 0.5516
Epoch 3/100
686/686  5s 4ms/step - accuracy: 0.7294 - loss: 0.5502 - val_accuracy: 0.7338 - val_loss: 0.5528
Epoch 4/100
686/686  3s 4ms/step - accuracy: 0.7333 - loss: 0.5478 - val_accuracy: 0.7374 - val_loss: 0.5444
Epoch 5/100
686/686  6s 5ms/step - accuracy: 0.7302 - loss: 0.5484 - val_accuracy: 0.7354 - val_loss: 0.5465
Epoch 6/100
686/686  2s 3ms/step - accuracy: 0.7363 - loss: 0.5420 - val_accuracy: 0.7360 - val_loss: 0.5501
Epoch 7/100
686/686  2s 3ms/step - accuracy: 0.7324 - loss: 0.5430 - val_accuracy: 0.7367 - val_loss: 0.5479
Epoch 8/100
686/686  2s 3ms/step - accuracy: 0.7365 - loss: 0.5412 - val_accuracy: 0.7378 - val_loss: 0.5462
Epoch 9/100
686/686  2s 3ms/step - accuracy: 0.7392 - loss: 0.5385 - val_accuracy: 0.7312 - val_loss: 0.5472
Epoch 10/100
686/686  3s 4ms/step - accuracy: 0.7452 - loss: 0.5318 - val_accuracy: 0.7347 - val_loss: 0.5461
Epoch 11/100
686/686  4s 3ms/step - accuracy: 0.7350 - loss: 0.5437 - val_accuracy: 0.7358 - val_loss: 0.5453
Epoch 12/100
686/686  3s 3ms/step - accuracy: 0.7366 - loss: 0.5393 - val_accuracy: 0.7369 - val_loss: 0.5459
Epoch 13/100
686/686  3s 3ms/step - accuracy: 0.7354 - loss: 0.5400 - val_accuracy: 0.7371 - val_loss: 0.5445
Epoch 14/100
686/686  3s 4ms/step - accuracy: 0.7357 - loss: 0.5380 - val_accuracy: 0.7367 - val_loss: 0.5499
Epoch 15/100
686/686  2s 3ms/step - accuracy: 0.7389 - loss: 0.5399 - val_accuracy: 0.7378 - val_loss: 0.5455
Epoch 16/100
686/686  3s 3ms/step - accuracy: 0.7391 - loss: 0.5382 - val_accuracy: 0.7378 - val_loss: 0.5462
Epoch 17/100
686/686  2s 3ms/step - accuracy: 0.7350 - loss: 0.5410 - val_accuracy: 0.7387 - val_loss: 0.5462
Epoch 18/100
686/686  3s 3ms/step - accuracy: 0.7362 - loss: 0.5394 - val_accuracy: 0.7383 - val_loss: 0.5463
Epoch 19/100
686/686  3s 4ms/step - accuracy: 0.7409 - loss: 0.5362 - val_accuracy: 0.7358 - val_loss: 0.5462
Epoch 20/100
686/686  4s 3ms/step - accuracy: 0.7375 - loss: 0.5348 - val_accuracy: 0.7358 - val_loss: 0.5510
Epoch 21/100
686/686  3s 3ms/step - accuracy: 0.7437 - loss: 0.5349 - val_accuracy: 0.7391 - val_loss: 0.5465
Epoch 22/100
686/686  3s 3ms/step - accuracy: 0.7358 - loss: 0.5386 - val_accuracy: 0.7371 - val_loss: 0.5468
Epoch 23/100
686/686  3s 4ms/step - accuracy: 0.7370 - loss: 0.5378 - val_accuracy: 0.7391 - val_loss: 0.5492
Epoch 24/100
686/686  4s 3ms/step - accuracy: 0.7397 - loss: 0.5339 - val_accuracy: 0.7391 - val_loss: 0.5489
Epoch 25/100
686/686  3s 3ms/step - accuracy: 0.7362 - loss: 0.5390 - val_accuracy: 0.7391 - val_loss: 0.5504
Epoch 26/100
686/686  2s 3ms/step - accuracy: 0.7383 - loss: 0.5381 - val_accuracy: 0.7382 - val_loss: 0.5447
Epoch 27/100
686/686  2s 3ms/step - accuracy: 0.7364 - loss: 0.5409 - val_accuracy: 0.7380 - val_loss: 0.5496
Epoch 28/100
686/686  3s 3ms/step - accuracy: 0.7398 - loss: 0.5328 - val_accuracy: 0.7376 - val_loss: 0.5468
Epoch 29/100
686/686  2s 3ms/step - accuracy: 0.7429 - loss: 0.5319 - val_accuracy: 0.7362 - val_loss: 0.5472
Epoch 30/100
686/686  3s 3ms/step - accuracy: 0.7413 - loss: 0.5303 - val_accuracy: 0.7385 - val_loss: 0.5479
Epoch 31/100
686/686  2s 3ms/step - accuracy: 0.7436 - loss: 0.5321 - val_accuracy: 0.7380 - val_loss: 0.5494
Epoch 32/100
686/686  3s 3ms/step - accuracy: 0.7396 - loss: 0.5369 - val_accuracy: 0.7378 - val_loss: 0.5513
Epoch 33/100
686/686  4s 4ms/step - accuracy: 0.7431 - loss: 0.5298 - val_accuracy: 0.7369 - val_loss: 0.5474
Epoch 34/100
686/686  4s 3ms/step - accuracy: 0.7410 - loss: 0.5356 - val_accuracy: 0.7382 - val_loss: 0.5484
Epoch 35/100
686/686  3s 3ms/step - accuracy: 0.7412 - loss: 0.5318 - val_accuracy: 0.7349 - val_loss: 0.5536
Epoch 36/100
686/686  3s 3ms/step - accuracy: 0.7358 - loss: 0.5340 - val_accuracy: 0.7356 - val_loss: 0.5490
Epoch 37/100
686/686  3s 3ms/step - accuracy: 0.7377 - loss: 0.5332 - val_accuracy: 0.7362 - val_loss: 0.5470
Epoch 38/100
686/686  2s 3ms/step - accuracy: 0.7422 - loss: 0.5349 - val_accuracy: 0.7347 - val_loss: 0.5549
Epoch 39/100
686/686  3s 3ms/step - accuracy: 0.7383 - loss: 0.5345 - val_accuracy: 0.7369 - val_loss: 0.5505
Epoch 40/100
686/686  3s 3ms/step - accuracy: 0.7393 - loss: 0.5322 - val_accuracy: 0.7369 - val_loss: 0.5496
Epoch 41/100
686/686  2s 3ms/step - accuracy: 0.7379 - loss: 0.5368 - val_accuracy: 0.7378 - val_loss: 0.5491
Epoch 42/100
686/686  3s 4ms/step - accuracy: 0.7438 - loss: 0.5295 - val_accuracy: 0.7362 - val_loss: 0.5568
Epoch 43/100
686/686  2s 3ms/step - accuracy: 0.7399 - loss: 0.5349 - val_accuracy: 0.7362 - val_loss: 0.5553
Epoch 44/100
686/686  3s 3ms/step - accuracy: 0.7370 - loss: 0.5364 - val_accuracy: 0.7363 - val_loss: 0.5502
Epoch 45/100
686/686  2s 3ms/step - accuracy: 0.7409 - loss: 0.5315 - val_accuracy: 0.7380 - val_loss: 0.5477
Epoch 46/100
686/686  3s 3ms/step - accuracy: 0.7400 - loss: 0.5322 - val_accuracy: 0.7376 - val_loss: 0.5519
Epoch 47/100
686/686  3s 4ms/step - accuracy: 0.7424 - loss: 0.5312 - val_accuracy: 0.7354 - val_loss: 0.5558
Epoch 48/100
686/686  4s 3ms/step - accuracy: 0.7454 - loss: 0.5267 - val_accuracy: 0.7367 - val_loss: 0.5504
Epoch 49/100
686/686  3s 3ms/step - accuracy: 0.7375 - loss: 0.5343 - val_accuracy: 0.7369 - val_loss: 0.5505
Epoch 50/100
686/686  2s 3ms/step - accuracy: 0.7466 - loss: 0.5297 - val_accuracy: 0.7367 - val_loss: 0.5518
Epoch 51/100
686/686  3s 4ms/step - accuracy: 0.7414 - loss: 0.5318 - val_accuracy: 0.7354 - val_loss: 0.5516
Epoch 52/100
686/686  4s 3ms/step - accuracy: 0.7471 - loss: 0.5245 - val_accuracy: 0.7358 - val_loss: 0.5514
Epoch 53/100
686/686  2s 3ms/step - accuracy: 0.7417 - loss: 0.5298 - val_accuracy: 0.7365 - val_loss: 0.5547
Epoch 54/100
686/686  2s 3ms/step - accuracy: 0.7445 - loss: 0.5289 - val_accuracy: 0.7347 - val_loss: 0.5562
Epoch 55/100
686/686  3s 3ms/step - accuracy: 0.7392 - loss: 0.5307 - val_accuracy: 0.7365 - val_loss: 0.5505
Epoch 56/100
686/686  3s 4ms/step - accuracy: 0.7418 - loss: 0.5326 - val_accuracy: 0.7358 - val_loss: 0.5486
Epoch 57/100
686/686  2s 3ms/step - accuracy: 0.7365 - loss: 0.5372 - val_accuracy: 0.7358 - val_loss: 0.5536
Epoch 58/100
686/686  3s 3ms/step - accuracy: 0.7462 - loss: 0.5272 - val_accuracy: 0.7382 - val_loss: 0.5513
Epoch 59/100
686/686  3s 3ms/step - accuracy: 0.7426 - loss: 0.5282 - val_accuracy: 0.7382 - val_loss: 0.5518
Epoch 60/100
686/686  2s 3ms/step - accuracy: 0.7412 - loss: 0.5308 - val_accuracy: 0.7371 - val_loss: 0.5512
Epoch 61/100
686/686  3s 4ms/step - accuracy: 0.7464 - loss: 0.5261 - val_accuracy: 0.7351 - val_loss: 0.5542
Epoch 62/100
686/686  2s 3ms/step - accuracy: 0.7468 - loss: 0.5225 - val_accuracy: 0.7352 - val_loss: 0.5525
Epoch 63/100
686/686  3s 3ms/step - accuracy: 0.7403 - loss: 0.5306 - val_accuracy: 0.7367 - val_loss: 0.5516
Epoch 64/100
686/686  2s 3ms/step - accuracy: 0.7425 - loss: 0.5297 - val_accuracy: 0.7354 - val_loss: 0.5547
Epoch 65/100
686/686  2s 3ms/step - accuracy: 0.7422 - loss: 0.5324 - val_accuracy: 0.7369 - val_loss: 0.5588
Epoch 66/100
686/686  4s 4ms/step - accuracy: 0.7453 - loss: 0.5240 - val_accuracy: 0.7383 - val_loss: 0.5503
Epoch 67/100
686/686  4s 3ms/step - accuracy: 0.7417 - loss: 0.5288 - val_accuracy: 0.7371 - val_loss: 0.5524
Epoch 68/100
686/686  3s 3ms/step - accuracy: 0.7412 - loss: 0.5328 - val_accuracy: 0.7382 - val_loss: 0.5542
Epoch 69/100
686/686  3s 3ms/step - accuracy: 0.7474 - loss: 0.5222 - val_accuracy: 0.7352 - val_loss: 0.5549
Epoch 70/100
686/686  4s 5ms/step - accuracy: 0.7411 - loss: 0.5294 - val_accuracy: 0.7354 - val_loss: 0.5554
Epoch 71/100
686/686  4s 3ms/step - accuracy: 0.7454 - loss: 0.5245 - val_accuracy: 0.7380 - val_loss: 0.5494
Epoch 72/100
686/686  3s 3ms/step - accuracy: 0.7391 - loss: 0.5287 - val_accuracy: 0.7367 - val_loss: 0.5548
Epoch 73/100
686/686  3s 3ms/step - accuracy: 0.7438 - loss: 0.5260 - val_accuracy: 0.7376 - val_loss: 0.5532
Epoch 74/100
686/686  3s 4ms/step - accuracy: 0.7435 - loss: 0.5271 - val_accuracy: 0.7360 - val_loss: 0.5532
Epoch 75/100
686/686  4s 3ms/step - accuracy: 0.7394 - loss: 0.5286 - val_accuracy: 0.7362 - val_loss: 0.5552
Epoch 76/100
686/686  2s 3ms/step - accuracy: 0.7470 - loss: 0.5263 - val_accuracy: 0.7362 - val_loss: 0.5543
Epoch 77/100
686/686  3s 3ms/step - accuracy: 0.7434 - loss: 0.5264 - val_accuracy: 0.7374 - val_loss: 0.5558
Epoch 78/100
686/686  3s 4ms/step - accuracy: 0.7440 - loss: 0.5265 - val_accuracy: 0.7376 - val_loss: 0.5558
Epoch 79/100
686/686  4s 3ms/step - accuracy: 0.7461 - loss: 0.5245 - val_accuracy: 0.7367 - val_loss: 0.5571
Epoch 80/100
686/686  2s 3ms/step - accuracy: 0.7434 - loss: 0.5302 - val_accuracy: 0.7374 - val_loss: 0.5508
Epoch 81/100
686/686  3s 3ms/step - accuracy: 0.7428 - loss: 0.5293 - val_accuracy: 0.7365 - val_loss: 0.5568
Epoch 82/100
686/686  4s 4ms/step - accuracy: 0.7392 - loss: 0.5318 - val_accuracy: 0.7356 - val_loss: 0.5540
Epoch 83/100
686/686  2s 3ms/step - accuracy: 0.7453 - loss: 0.5271 - val_accuracy: 0.7380 - val_loss: 0.5572
Epoch 84/100
686/686  3s 3ms/step - accuracy: 0.7435 - loss: 0.5277 - val_accuracy: 0.7365 - val_loss: 0.5554
Epoch 85/100
686/686  2s 3ms/step - accuracy: 0.7365 - loss: 0.5326 - val_accuracy: 0.7380 - val_loss: 0.5636
Epoch 86/100
686/686  2s 3ms/step - accuracy: 0.7409 - loss: 0.5297 - val_accuracy: 0.7374 - val_loss: 0.5552
Epoch 87/100
686/686  2s 3ms/step - accuracy: 0.7351 - loss: 0.5357 - val_accuracy: 0.7378 - val_loss: 0.5576
Epoch 88/100
686/686  3s 4ms/step - accuracy: 0.7472 - loss: 0.5220 - val_accuracy: 0.7371 - val_loss: 0.5575
Epoch 89/100
686/686  2s 3ms/step - accuracy: 0.7455 - loss: 0.5247 - val_accuracy: 0.7369 - val_loss: 0.5633
Epoch 90/100
686/686  2s 3ms/step - accuracy: 0.7379 - loss: 0.5349 - val_accuracy: 0.7376 - val_loss: 0.5662
Epoch 91/100
686/686  2s 3ms/step - accuracy: 0.7466 - loss: 0.5243 - val_accuracy: 0.7360 - val_loss: 0.5692
Epoch 92/100
686/686  3s 3ms/step - accuracy: 0.7394 - loss: 0.5321 - val_accuracy: 0.7367 - val_loss: 0.5631
Epoch 93/100
686/686  3s 4ms/step - accuracy: 0.7387 - loss: 0.5317 - val_accuracy: 0.7376 - val_loss: 0.5671
Epoch 94/100
686/686  4s 3ms/step - accuracy: 0.7434 - loss: 0.5252 - val_accuracy: 0.7360 - val_loss: 0.5660
Epoch 95/100
686/686  3s 3ms/step - accuracy: 0.7410 - loss: 0.5274 - val_accuracy: 0.7383 - val_loss: 0.5621
Epoch 96/100
686/686  3s 3ms/step - accuracy: 0.7413 - loss: 0.5249 - val_accuracy: 0.7374 - val_loss: 0.5674
Epoch 97/100
686/686  6s 8ms/step - accuracy: 0.7442 - loss: 0.5259 - val_accuracy: 0.7378 - val_loss: 0.5683
Epoch 98/100
686/686  4s 6ms/step - accuracy: 0.7436 - loss: 0.5257 - val_accuracy: 0.7376 - val_loss: 0.5732
Epoch 99/100
686/686  3s 3ms/step - accuracy: 0.7457 - loss: 0.5255 - val_accuracy: 0.7372 - val_loss: 0.5662
Epoch 100/100
686/686  2s 3ms/step - accuracy: 0.7397 - loss: 0.5315 - val_accuracy: 0.7380 - val_loss: 0.5733

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7277 - loss: 0.5808
Loss: 0.580757200717926, Accuracy: 0.7276967763900757

In [20]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.